@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Calendar</h1>
    <br/>
    <p class="lead">Welcome to CivicPlus calendar. You can view all events by pressing Events button, also add events by having the Adding role, then pressing create new button.</p>
    
    <p>@Html.ActionLink("Events", "Index", "Events", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>

</div>

